.register-page{
  width:100%;
  height:100vh;

  background-image:
  linear-gradient(
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.85)
  ),
  url("https://wallpapercave.com/wp/wp4431823.jpg");

  background-size:cover;
  background-position:center;

  display:flex;
  align-items:center;
  justify-content:center;
}

.register-overlay{
  width:100%;

  display:flex;
  align-items:center;
  justify-content:center;
}

/* CARD */

.register-card{
  width:100%;
  max-width:450px;

  background:rgba(255,255,255,0.08);

  border:1px solid rgba(255,255,255,0.1);

  backdrop-filter:blur(15px);

  border-radius:24px;

  padding:45px;

  color:white;

  box-shadow:
  0 10px 40px rgba(0,0,0,0.5);
}

.register-card h1{
  color:#8b5cf6;

  font-size:38px;
  font-weight:800;

  margin-bottom:10px;
}

.register-card h2{
  font-size:28px;

  margin-bottom:10px;
}

.register-card p{
  color:#d1d5db;

  margin-bottom:30px;
}

/* FORM */

.register-form{
  display:flex;
  flex-direction:column;

  gap:18px;
}

.register-form input{
  width:100%;

  padding:15px;

  border:none;

  border-radius:12px;

  background:rgba(255,255,255,0.08);

  color:white;

  outline:none;

  font-size:15px;
}

.register-form input::placeholder{
  color:#9ca3af;
}

.register-form button{
  background:#8b5cf6;

  border:none;

  color:white;

  padding:15px;

  border-radius:12px;

  font-size:16px;
  font-weight:600;

  cursor:pointer;

  transition:0.3s;
}

.register-form button:hover{
  background:#7c3aed;
}

.login-link{
  margin-top:25px;

  text-align:center;

  color:#d1d5db;
}

.login-link span{
  color:#8b5cf6;

  margin-left:8px;

  cursor:pointer;
}

/* MOBILE */

@media(max-width:768px){

  .register-card{
    margin:20px;

    padding:30px;
  }

}