.sidebar{
  width:110px;
  height:100vh;

  position:fixed;
  left:0;
  top:0;

  background:
  linear-gradient(
    to bottom,
    rgba(5,8,22,0.95),
    rgba(2,6,18,0.98)
  );

  backdrop-filter:blur(20px);

  border-right:
  1px solid rgba(255,255,255,0.06);

  display:flex;
  flex-direction:column;

  align-items:center;

  padding:20px 0;

  z-index:999;

  box-shadow:0 0 32px rgba(0,0,0,0.24);
}

/* LOGO */

.sidebar-logo{
  margin-bottom:45px;

  display:flex;
  flex-direction:column;

  align-items:center;

  gap:10px;
}

.sidebar-logo img{
  width:52px;
  height:52px;

  border-radius:8px;

  box-shadow:0 0 18px rgba(139,92,246,0.35);
}

.sidebar-logo h1{
  color:white;

  font-size:18px;

  font-weight:800;
}

.sidebar-logo span{
  color:#8b5cf6;
}

/* MENU */

.sidebar-menu{
  display:flex;
  flex-direction:column;

  gap:16px;

  width:100%;

  align-items:center;
}

.sidebar-item{
  width:74px;
  height:74px;

  display:flex;
  flex-direction:column;

  align-items:center;
  justify-content:center;

  gap:8px;

  border-radius:8px;

  color:#94a3b8;

  text-decoration:none;

  transition:transform 180ms ease, background-color 180ms ease, color 180ms ease;

  position:relative;
}

.sidebar-item svg{
  font-size:23px;
}

.sidebar-item span{
  font-size:12px;
}

.sidebar-item:hover{
  background:
  rgba(139,92,246,0.18);

  color:white;

  transform:translateY(-2px);
}

.active{
  background:#8b5cf6;

  color:white;

  box-shadow:0 10px 22px rgba(139,92,246,0.28);
}

/* MOBILE */

@media(max-width:768px){

  .sidebar{
    width:100%;

    height:82px;

    bottom:0;
    top:auto;

    flex-direction:row;

    justify-content:center;

    padding:0;
  }

  .sidebar-logo{
    display:none;
  }

  .sidebar-menu{
    flex-direction:row;

    justify-content:space-around;

    width:100%;
  }

  .sidebar-item{
    width:auto;
    height:auto;

    background:none !important;

    box-shadow:none !important;
  }

}
