.add-movie-page{
  margin-left:260px;

  min-height:100vh;

  background:var(--bg);

  color:var(--text);

  padding:35px;
}

.add-movie-page h1{
  font-size:40px;

  margin-bottom:35px;
}

/* FORM */

.movie-form{
  max-width:750px;

  background:var(--surface);

  padding:28px;

  border-radius:8px;
  border:1px solid var(--line);
}

.form-group{
  display:flex;

  flex-direction:column;

  margin-bottom:25px;
}

.form-group label{
  margin-bottom:12px;

  color:var(--muted);

  font-size:15px;
}

.form-group input,
.form-group select,
.form-group textarea{
  width:100%;

  padding:15px;

  border:none;

  border-radius:8px;

  background:var(--surface-2);

  color:var(--text);

  outline:none;

  font-size:15px;
}

.form-group textarea{
  resize:none;
}

/* FILE INPUT */

.form-group input[type="file"]{
  padding:12px;
}

/* BUTTON */

.submit-movie-btn{
  width:100%;

  padding:16px;

  border:none;

  border-radius:8px;

  background:var(--accent);

  color:white;

  font-size:16px;
  font-weight:600;

  cursor:pointer;

}

.submit-movie-btn:hover{
  background:#7c3aed;
}

/* MOBILE */

@media(max-width:768px){

  .add-movie-page{
    margin-left:0;

    padding-bottom:100px;
  }

  .movie-form{
    padding:25px;
  }

}
